body{
    background:#eaeded;
}
.cart-page{
    max-width:1500px;
    margin:20px auto;
    display:grid;
    grid-template-columns:3fr 1fr;
    gap:20px;
    padding:0 20px;
}
.cart-left{
    background:white;
    padding:25px;
}
.cart-left h1{
    font-size:28px;
    margin-bottom:25px;
}
.cart-right{
    background:white;
    padding:20px;
    height:fit-content;
}
.summary-card h2{
    margin-bottom:20px;
}
.summary-card h3{
    margin:20px 0;
    font-size:28px;
}
.checkout-btn{
    width:100%;
    height:42px;
    border:none;
    border-radius:20px;
    background:#FFD814;
    cursor:pointer;
    font-size:15px;
}
.checkout-btn:hover{
    background:#F7CA00;
}
.cart-item{
    display:flex;
    gap:20px;
    padding:20px 0;
    border-bottom:1px solid #ddd;
}
.cart-item img{
    width:170px;
    height:170px;
    object-fit:contain;
}
.cart-info{
    flex:1;
}
.cart-info h3{
    font-size:20px;
    margin-bottom:12px;
    font-weight:500;
}
.cart-info h2{
    color:#B12704;
}