body{

    background:#eaeded;

}

.checkout-page{

    max-width:1500px;

    margin:30px auto;

    padding:0 20px;

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:24px;

}

.checkout-left,
.checkout-right{

    background:white;

    border-radius:8px;

    padding:24px;

    box-shadow:0 1px 3px rgba(15,17,17,.08);

}