*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navbar { 
    display:flex;
    height:60px;
    background-color:#131921;
    color:white;
    align-items:center;
}
.nav-logo {
    width:120px;
    height:50px;
}
.logo-text {
    font-size:28px;
    font-weight: bold;
    color:white;
    display:flex;
    align-items:center;
    height: 100%;
    justify-content: center;

}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}

.nav-address {
    padding: 8px;
}

.add-first{
    color: #cccccc;
    font-size: 0.75rem;
}
.add-second{
    color: white;
    font-size: 0.875rem;
    font-weight: bold;
}
