*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navbar { 
    display:flex;
    height:60px;
    background-color:#131921;
    color:white;
   
}
.nav-logo {
    width:120px;
    height:60px;
    display:flex;
    align-items:center;
}
.logo-text {
    font-size:28px;
    font-weight: bold;
    color:white;
    display:flex;
    align-items:center;
    height: 100%;
    justify-content: center;

}
.border{
    border:1.5px solid transparent;
    border-radius: 2px;
}
.border:hover{
    border:1.5px solid white;
    border-radius: 2px;

}

.nav-address {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-first{
    color: #cccccc;
    font-size: 0.75rem;
}
.add-second{
    color: white;
    font-size: 0.875rem;
    font-weight: bold;
}

.nav-search {
    border: 2px solid transparent; 
    display:flex;
    flex-grow: 1;
    height: 42px;
    margin: 0 10px;
    align-self: center;
    
}

.search-select {
    width: 55px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    background-color: #f3f3f3;
    cursor: pointer;
}

.search-input {
    flex-grow: 1;
    border: none;
    padding-left: 10px;
    font-size: 1rem;
}
.search-input::placeholder{
    color:#6b6b6b;
}
.search-button {
    width: 45px;
    border: none;
    background-color: #febd69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
}
.nav-search:hover {
    border-color: #f3a847;
    
}
.nav-language {
    display:flex;
    align-items:center;
    padding: 0 10px;
    cursor: pointer;
    gap:6px;
    justify-content: center;
}
.lang-icon {
    font-size: 1.5rem;
}
.lang-text {
    font-weight: bold;
    font-size: 0.875rem;
}
.lang-dropdown {
    
    font-size: 0.75rem;
    color: #cccccc;
}

.nav-large {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.875rem;
    font-weight: bold;
}

.nav-large i {
    font-size: 0.75rem;
    color: #cccccc;
}
   
.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    cursor: pointer;
}
.nav-small {
    font-size: 0.75rem;
}
.nav-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    gap: 5px;
    cursor: pointer;
}
.cart-text {
    font-size: 0.875rem;
    font-weight: bold;

    
}
.nav-cart i {
    font-size: 1.5rem;
}


.nav-box {
    height: 60px;
    display: flex;
    align-items: center;
}

.panel {
    height: 40px;
    background-color: #232f3e;
    color: white;

    display: flex;
    align-items: center;
}
.panel-all {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;

    font-weight: 600;

}
.panel-links{
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}
.panel-option {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    font-size: 0.875rem;
    white-space: nowrap;
    gap: 4px;
}
.panel-option i {
    font-size: 0.7rem;
}
.hero-section{
    height: 420px;

    background-image: url("assets/images/hero-banner.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    position: relative;
}
.hero-left,
.hero-right{
    width:80px;
    height:100%;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    font-size:2.2rem;

    color: #111;
}
.hero-message{
    position:absolute;

    bottom:20px;
    left:50%;

    transform:translateX(-50%);

    width:95%;
    height:35px;

    background:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:0.85rem;
}
.hero-message a{
    color:#007185;
    text-decoration:none;
}
.hero-message a:hover{
    color:#c7511f;
    text-decoration:underline;
}